.BlogCard {
    background-color: #fff;
    border: none;
}

.BlogCard:hover {
    background: linear-gradient(270deg,
            #a793e9 0%,
            #5346b6 35%,
            #34246d 70%,
            #271948 100%);
}

.BlogCardBodyContent {
    color: black;
    font-size: 1rem;
}

.BlogCardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: black;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-line-clamp: 1;
}

.BlogCardContent {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: black;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

.BlogCardType {
    width: 8rem;
    color: black;
    letter-spacing: 0.2rem;
    text-wrap: nowrap;
}

/* ------------------------------------搜尋欄------------------------------------ */
.BlogMain {
    margin-bottom: 14.75rem;
}

.BlogSearchBox {
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-left: -1rem;
    margin-right: -1rem;
    background: transparent;
}

.BlogSearchBox:has(.BlogSearchInputStyle:focus) {
    background: linear-gradient(0deg,
            #a793e9 0%,
            #5346b6 35%,
            #34246d 70%,
            #271948 100%);
}

.BlogSearchInputStyle {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* border-bottom: ; */
    border-radius: 0;
    width: 47rem;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
}

.BlogSearchInputStyle::placeholder {
    color: black;
    font-size: 2rem;
}

.BlogSearchInputStyle:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-bottom: 1px solid black;
}

.BlogSearchInputStyle:focus::placeholder {
    color: transparent;
}

.TitleDiamond {
    color: transparent;
    border: 0.1rem solid #805af5;
    transform: rotate(45deg);
    font-size: 1.4rem;
}

.BlogUserOverviewSearchResult {
    font-size: 2rem;
}

@media (max-width: 430px) {
    .BlogSearchBox {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background: transparent;
    }
}

@media (max-width: 720px) {
    .BlogSearchBox {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background: transparent;
    }
}

/* ------------------------------------搜尋欄------------------------------------ */