h1{
    font-size: 6.25rem;
}
h2{
    font-size: 6rem;
}
h3{
    font-size: 4rem;
}
h4{
    font-size: 3rem;
}
h5{
    font-size: 1.875rem;
}
h6{
    font-size: 1.25rem;
}
h7{
    font-size: 1rem;
}
h8{
    font-size: 0.875rem;
}
h9{
    font-size: 0.625rem;
}

.h1{
    font-size: 6.25rem;
}
.h2{
    font-size: 6rem;
}
.h3{
    font-size: 4rem;
}
.h4{
    font-size: 3rem;
}
.h5{
    font-size: 1.875rem;
}
.h6{
    font-size: 1.25rem;
}
.h7{
    font-size: 1rem;
}
.h8{
    font-size: 0.875rem;
}
.h9{
    font-size: 0.625rem;
}

body{
    font-style: normal;
}
