/* cart */

.logo {
  height: 40px;

  & img {
    height: 100%;
  }
}

.photo {
  width: 150px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}
