header {
  background: linear-gradient(
    333deg,
    #6835a6 9.79%,
    #150928 27.32%,
    #000 49.97%,
    #1b1956 72.85%,
    #402bb0 86.53%,
    #d0bcff 98.34%
  );
  backdrop-filter: blur(10px) brightness(100%);
}

.nav-list a {
  text-decoration: none;
}
